/* [ FONT ] */
@font-face {
  font-family: Roboto-Bold;
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}


/* [ CSS ] */

.bg-tr {
    background: -webkit-linear-gradient(180deg, #004898, #0079c1) !important;
    /* box-shadow: 0px 19px 27px -20px rgb(0 0 0 / 16%); */
}

.bg-tr-up {
    background: -webkit-linear-gradient(90deg, #004898, #0079c1) !important;
    /* box-shadow: 0px 19px 27px -20px rgb(0 0 0 / 16%); */
}

.font-tr {
    font-family: Roboto-Bold !important;
    text-transform: uppercase !important;
    font-size: 16px !important;
    color: #fff !important;
}

.font-rg {
    font-family: Roboto-Regular !important;
    font-size: 16px !important;
    color: #333 !important;
}

.button-ajouter {
  font-family: Roboto-Bold;
  font-size: 16px;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  background: -webkit-linear-gradient(90deg, #367f49, #5e986d);
}

.button-ajouter:hover {
  background: -webkit-linear-gradient(90deg, #2b653a, #4b7957);
  color: #fff;
}

.button-edit {
  font-family: Roboto-Bold;
  font-size: 16px;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  background: -webkit-linear-gradient(90deg, #ffc107, #ffd96a);
}

.button-edit:hover {
  background: -webkit-linear-gradient(90deg, #cc9a05, #ccad54);
  color: #fff;
}

.button-list {
  font-family: Roboto-Bold;
  font-size: 16px;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  background: -webkit-linear-gradient(90deg, #17a2b8, #7ccad7);
}

.button-list:hover {
  background: -webkit-linear-gradient(90deg, #128193, #549ca7);
  color: #fff;
}

.list-title{
  font-family: Roboto-Bold;
  font-size: 22px;
  color: #707070;
  margin: auto;
}

.top-small-title{
  font-family: Roboto-Regular;
  font-size: 16px;
  margin: auto;
}

.title-placement{
  color: #707070;
  background: #ECECEC;
  text-transform: uppercase;
  border-color: #707070;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
}